.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

#orderPlayer{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
    width: 30%;
    text-align: center;
}